body {
   background: #FFFFFF;
}
.h1 {
   text-align: center;
   color: gray;
}
.menuPrincipal {
   position: absolute;
   top: 0;
   left: 0;
   background: black;
   width: 100%;
   height: 45px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}
li a {
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background: gray;
  color: black;
}
#fusca {
   width: 100%;
}
#fusca:hover {
  width: 50%;
}
.caixaFusca {
  position: relative;
  top: 100px;
  left: 73%;
   width: 20%;
   height: 250px;
   background: gray;
   margin: 20px;
   border-color: black;
   border-width: 5px;
   border-style: solid;
   padding: 20px;
   display: flex;
   justify-content: end;
}
.rodape {
   width: 100%;
   height: 50px;
   background: rgb(0, 0, 0);
   position: absolute;
   bottom: 10px;
   left: 0;
   font-size: large;
   display: flex;
   justify-content: center;
   color: cornsilk;
}
.conteudo {
   position: absolute;
   top: 45px;
}
.logoGastao {
  position: absolute;
  top: 45px;
  right: 0;
}